/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Ιουν 2017, 3:50:08 πμ
    Author     : owner
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Ιουν 2017, 12:10:55 πμ
    Author     : owner
*/

.container {
    margin-left: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

#doette {
    margin-left: 120px;
    white-space: nowrap;
}

#ninja {
    margin-left: 160px;
    margin-top: -20px;
    white-space: nowrap;
}

#logo {
    margin-left: -40px;
    margin-top: -80px;
}

#centerImg {
    margin-left: 10px;
}

#featured_work_section {
    margin-left: 20px;
}

#feature_workh2 {
    color: #7d97ad;
}

#appify {
    margin-left: 45px;
    margin-top: -5px;
}

#sunflower {
    margin-left: 15px;
    margin-top: -5px;
}

#bokeh {
    margin-left: 40px;
    margin-top: -5px;
}

#appify_p {
    font-size: 10px;
    margin-left: 20px;
    margin-top: -15px;
}

#sunflower_p {
    font-size: 10px;
    margin-left: 20px;
    margin-top: -15px;
}

#bokeh_p {
    font-size: 10px;
    margin-left: 20px;
    margin-top: -15px;
}

#articlesDiv {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

#firstDiv {
    margin-right: 20px;
}

#secondDiv {
    margin-right: 20px;    
}

#thirdDiv{
    margin-right: 20px;
}